<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      
      <center>
        <h2 class="footer-heading"> &copy; {{ "now" | date: "%Y" }} Barham Ink | <a rel="me" href="https://wandering.shop/@NateBarham">Mastodon</a> | <a rel="me" href="https://natebarham.com/feed.xml">RSS</a></h2>      
      </center>

   <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

</footer>
