<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <center>
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </center>
</header>

      <ul class="main-nav">
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/books/">Books</a></li>
        <li class="dropdown">
              <a href="/vladvir/">The World of Vladvir</a>
              <ul class="drop-nav">
			  <li><a href="/locations/">Locations</a></li>
              <li><a href="/pronunciation/">Pronunciation Guide</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="/about/">About</a>
            <ul class="drop-nav">
              <li><a href="/about/">The Author</a></li>
              <li><a href="/barhamink/">Barham Ink</a></li>
              <li><a href="/the-site/">The Site</a></li>
            </ul>
          </li>
      </ul>

	<fieldset class="mobile-nav">
		<select class="mobile-select" onchange="if (this.value) window.location.href=this.value">
			<option value="/">☰  Menu</option>
			<option value="/">Home</option>
			<option value="/blog/">Blog</option>
			<option value="/books/">Books</option>
			<option value="/vladvir/">The World of Vladvir</option>
			<option value="/about/">About</option>	
		</select>
			<a class="buy-button" href="/books/">Buy Books!</a>	
	</fieldset>