<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <center>
      <a class="site-title" href="{{ "/" | relative_url }}">Nathan Barham</a>
    </center>
</header>

      <ul class="main-nav">
      	<li><a href="/vo/">Voiceover</a></li>
        <li class="dropdown">
          <a href="/books/">Books</a>
        	  <ul class="drop-nav">
			  <li><a href="/subscribe/">Newsletter</a></li>
			  <li><a href="/books/fragments/">Fragments</a></li>
			  <li><a href="/books/the elf and the arrow/">The Elf and the Arrow</a></li>
			  <li><a href="/books/the voice like water/">The Voice like Water</a></li>
			  <li><a href="/books/circlets and seekers/">Circlets and Seekers</a></li>
			  <li><a href="/books/the glittering world/">The Glittering World</a></li>
             	  </ul>
        </li>
        <li><a href="/blog/">Blog</a></li>
        <li class="dropdown">
          <a href="/about/">About</a>
            <ul class="drop-nav">
              <li><a href="/about/">The Author</a></li>
              <li><a href="/the-site/">The Site</a></li>
            </ul>
          </li>
      </ul>

	<fieldset class="mobile-nav">
		<select class="mobile-select" onchange="if (this.value) window.location.href=this.value">
			<option value="/">☰  Menu</option>
			<option value="/">Voiceover</option>
			<option value="/">Home</option>
			<option value="/blog/">Blog</option>
			<option value="/books/">Books</option>
			<option value="/subscribe/">Newsletter</option>
			<option value="/about/">About</option>
		</select>
			<a class="buy-button" href="/vo/">VO</a>
			<a class="buy-button" href="/books/">Buy Books!</a>	
	</fieldset>
