<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
  

    {%- include header.html -%}


      <div class="hero">     
		<a href="/books/fragments/"><img class="book-landing" src="/assets/images/fragments.jpg" alt="Fragments Cover"></a>
        <a href="/books/the elf and the arrow/"><img class="book-landing" src="/assets/images/the elf and the arrow.jpg" alt="The Elf and the Arrow Cover"></a>
        <a href="/books/the voice like water/"><img class="book-landing" src="/assets/images/the voice like water.jpg" alt="The Voice like Water Cover"></a>
        <a href="/books/circlets and seekers/"><img class="book-landing" src="/assets/images/vol4/circlets and seekers.jpg" alt="Circlets and Seekers"></a>
        
      </div>
      <div class="bar">
       <p class="down-caret">&#9660;</p>
       <p class="Chevron"></p>
      </div>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
