<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<style>
.hero-image {
  background-image: url("{{ page.hero_image | escape }}");
}
</style>

  <body>

    {%- include header.html -%}
		<div class="hero-image">
			<ul class="hero-text">
				{{ page.title | escape }}
				<li><p class="hero-quote">{{ page.quote_1 | escape }}</p></li>
				<li><p class="hero-quote">{{ page.quote_2 | escape }}</p></li>
				<li><p class="hero-quote">{{ page.quote_3 | escape }}</p></li>
		  	</div>
		</div>
		
	<ul class="buy-nav">
 		<li><a href="{{ page.mobile_link_4 | escape }}">{{ page.mobile_link_name_4 | escape }}</a></li>
 		<li><a href="{{ page.mobile_link_1 | escape }}">{{ page.mobile_link_name_1 | escape }}</a></li>
		<li><a href="{{ page.mobile_link_2 | escape }}">{{ page.mobile_link_name_2 | escape }}</a></li>
		<li><a href="{{ page.mobile_link_3 | escape }}">{{ page.mobile_link_name_3 | escape }}</a></li>
	</ul>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

	<ul class="mobile-links">
 		<li><a href="{{ page.mobile_link_4 | escape }}">{{ page.mobile_link_name_4 | escape }}</a></li>	
 		<li><a href="{{ page.mobile_link_1 | escape }}">{{ page.mobile_link_name_1 | escape }}</a></li>
		<li><a href="{{ page.mobile_link_2 | escape }}">{{ page.mobile_link_name_2 | escape }}</a></li>
		<li><a href="{{ page.mobile_link_3 | escape }}">{{ page.mobile_link_name_3 | escape }}</a></li>
	</ul>

  <center>
    <h2 class="post-list-heading"></h2>
  </center>

<article class="post">

  <header class="post-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>