---
layout: landing-page
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
  
  <center>
  	<h2 class="page-title">NEWS</h2>
    <h2 class="post-list-heading"></h2>
  </center>

    <ul class="post-list">
      {% for post in site.posts limit:5 %}
      <li>
      	<h1 class="post-title"><a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>
      
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <p class="post-meta">{{ post.date | date: date_format }}</p>
       
          
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

	<center>
	<a class="mobile-links" href="/blog/" style="border-top: none;">More Stories...</a>
	</center>

</div>
