---
layout: default_hero
---
	<ul class="mobile-links">
		<li><a href="{{ page.mobile_link_1 | escape }}">{{ page.mobile_link_name_1 | escape }}</a></li>
		<li><a href="{{ page.mobile_link_2 | escape }}">{{ page.mobile_link_name_2 | escape }}</a></li>
		<li><a href="{{ page.mobile_link_3 | escape }}">{{ page.mobile_link_name_3 | escape }}</a></li>
	</ul>

  <center>
    <h2 class="post-list-heading"></h2>
  </center>

<article class="post">

  <header class="post-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
